* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden; 
}

body {
    background-color: #ffffff; 
    color: #000000; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    text-align: center;
    background-color: #f0f0f0; 
    padding: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 1.8em; 
    font-weight: 400;
    letter-spacing: 1px;
    color: #333333; 
}

main {
    flex-grow: 1; 
    padding: 10px; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto; 
}

nav {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    max-height: calc(100vh - 200px);
    overflow-y: auto; 
}

section {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    max-height: calc(100vh - 200px);
    overflow-y: auto; 
}

table {
    width: 100%; 
    max-width: 1400px; 
    border-collapse: collapse;
    background-color: #d9d9d9;
    border-radius: 5px;
    overflow: hidden;
    font-size: 0.9em; 
}

th, td {
    padding: 10px; 
    text-align: center;
    border: 1px solid #f0f0f0;
    font-size: 1em;
}

th {
    background-color: #333333; 
    color: #ffffff; 
    font-weight: bold;
    text-transform: uppercase;
}

td {
    background-color: #f0f0f0; 
    color: #000000;
}

td a {
    text-decoration: none;
    color: #00a8e1; 
}

td a img {
    width: 20px;
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

td a:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}

tr:nth-child(even) td {
    background-color: #e0e0e0; 
}

footer {
    background-color: #f0f0f0; 
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer div {
    display: flex;
    gap: 10px; 
    align-items: center;
    justify-content: center;
}

footer a {
    color: #000000;
    text-decoration: none;
    font-size: 0.9em; 
}

footer a:hover {
    opacity: 0.8;
}

footer a img {
    width: 30px; 
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

footer a:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}
